#cart{ 
    border: solid;
  
 display: flex;
        flex-direction: column;
        padding: 20px;
        justify-content: center;
        gap: 10px;
}

.item{
        border: solid rgb(214, 174, 174);
       display: flex;
       align-items: center;
       padding: 20px;
       gap: 30px;
       


}


body {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 200vh;           
                  /* border: solid;         */
   
}

img{
width: 200px;


}

#add{
    margin: 20px;
    /* border: solid; */
    display: flex;
    align-items: center;
    gap: 30px;
}
button{
    margin-right: 20px;
    border: solid;
}


/* #heart{
    color: blue;
} */

.toggleheart{
    color: red;
}